In [1]:
import pandas as pd
import numpy as np
import json 
from geopy.geocoders import Nominatim
import requests 
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
from bs4 import BeautifulSoup
import xml
import folium

In [6]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(url.text,'lxml')

In [28]:
table_= soup.find('table')
col =  table_.find_all('td')

In [29]:
PostalCode = []
Borough = []
Neighborhood = []

for i in range(0, len(col), 3):
    PostalCode.append(col[i].text.strip())
    Borough.append(col[i+1].text.strip())
    Neighborhood.append(col[i+2].text.strip())

In [38]:
df=pd.DataFrame(data=[PostalCode, Borough, Neighborhood]).transpose()
df.columns =["PostalCode","Borough","Neighborhood"]

In [42]:
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [47]:
df["Borough"].replace("Not assigned", np.nan,inplace=True)
df.dropna(subset=["Borough"],inplace=True)

In [49]:
df = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.columns = ['PostalCode', 'Borough', 'Neighbourhood']

In [54]:
df.tail()

    PostalCode    Borough                                       Neighborhood
98         M9N       York                                             Weston
99         M9P  Etobicoke                                          Westmount
100        M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W  Etobicoke                                          Northwest

#### There is no rows with Neghborhood=Not assigned

In [69]:
df.shape

(103, 3)

In [70]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.columns = ['PostalCode', 'Latitude', 'Longitude']

In [71]:
result = pd.merge(df, df_geo, on=['PostalCode'], how='inner')

In [72]:
result.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476